.select-box {
  width: 200px;
  margin: 100px auto 0;
}

.btn-select {
  width: 200px;
  padding: 13px 14px;
  text-align: left;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  background: url(./images/icon_down.png);
  background-repeat: no-repeat;
  background-position: right 14px center;
  /* 텍스트가 넘치지 않게 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-select.on {
  background: url(./images/icon_up.png);
  background-repeat: no-repeat;
  background-position: right 14px center;
}

.btn-select {
  border: 1px solid #9b51e0;
  box-shadow: 0 0 0 3px #f8e4ff;
}

/* 클릭했을 때 */
.option-select {
  display: block;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  margin-top: 10px;
  padding: 7px 9px;
}

.option-select .btn {
  width: 100%;
  text-align: left;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 7px 10px;
  background-color: transparent;
}
.option-select li:focus,
.option-select li:hover {
  background: #f8e4ff;
  border-radius: 8px;
}

/* 옵션 숨기기 */
.option-select {
  display: none;
  overflow: hidden;
  box-sizing: border-box;
}
.option-select.on {
  display: block;
}

.btn-select:active + .option-select {
  display: block;
}
